Checks: [
  -*,
  bugprone-*,
  -bugprone-crtp-constructor-accessibility,
  -bugprone-dynamic-static-initializers,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-macro-parentheses,
  -bugprone-nondeterministic-pointer-iteration-order,
  -bugprone-random-generator-seed,
  -bugprone-unchecked-optional-access,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  clang-analyzer-nullability.*,
  clang-analyzer-deadcode.*,
  clang-diagnostic-*,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-missing-std-forward,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-*,
  -cppcoreguidelines-pro-type-*,
  google-default-arguments,
  google-global-names-in-headers,
  google-runtime-operator,
  llvm-namespace-comment,
  misc-*,
  -misc-confusable-identifiers,
  -misc-const-correctness,
  -misc-multiple-inheritance,
  -misc-no-recursion,
  -misc-predictable-rand,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-macro-to-enum,
  -modernize-return-braced-init-list,
  -modernize-use-auto,
  -modernize-use-designated-initializers,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -modernize-use-transparent-functors,
  performance-*,
  -performance-enum-size,
  portability-*,
  -portability-avoid-pragma-once,
  -portability-restrict-system-includes,
  -portability-template-virtual-member-function,
  readability-*,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-function-*,
  -readability-identifier-*,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
  -readability-simplify-boolean-expr,
  -readability-use-anyofallof,
  -readability-use-concise-preprocessor-directives,
  -readability-use-std-min-max,
]
WarningsAsErrors: '*'
CheckOptions:
  bugprone-exception-escape.CheckMain: false
  bugprone-exception-escape.CheckNothrowFunctions: false
  bugprone-lambda-function-name.IgnoreMacros: true
  cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage: true
  cppcoreguidelines-avoid-non-const-global-variables.AllowThreadLocal: true
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
  cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions: true
  cppcoreguidelines-special-member-functions.AllowMissingMoveFunctionsWhenCopyIsDeleted: true
  misc-include-cleaner.IgnoreHeaders: 'stdio.h;stdlib.h;typeinfo'
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  misc-override-with-different-visibility.DisallowedVisibilityChange: widening
  readability-uppercase-literal-suffix.NewSuffixes: L;LL;LU;LLU
